.bloco1{
    display: flex;
    justify-content: center;
    margin-right: 10%;
    

}

.bloco2{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top:-11rem ;
    margin-right: 10%;

}

